.login{
    font-weight: 700;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}
.label{
    color: var(--text-color);
    padding: 10px 0;
}
.input{
    background-color: transparent;
    border: 1px solid var(--menu-color);
    height: 30px;
    color: var(--text-color);
}
