@tailwind base;
@tailwind components;
@tailwind utilities;

body{

  --main-bg-color:#252627;
  --negation-color:#ffb3ba;
  --title-color:#ffdfba;
  --menu-color:#ffffba;
  --confirm-color:#baffc9;
  --text-color:#bae1ff;
}
.not-found{
  text-align: center;
  color: var(--negation-color);
  padding-top: 100px;
}

